<!DOCTYPE html>
<html lang="fr">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Epoka Web</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css" />

  <style>

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }

    #ajout {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
    }

    h2{

      margin-top: 5%;
      text-align: center;
    }

  </style>

</head>

<body>

  <% if(cookie == 'Principal'){%>
    <%- include('headerPrincipal') %>
  <% }else{ %>
    <%- include('headerProfesseur') %>
  <% } %>

  <div>

    <table>

      <thead>

        <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Age</th>
        </tr>

      </thead>

      <tbody>

        <% dataClasse.forEach(function(data){ %>

          <tr>
            <td> <a href="http://localhost:3600/notes/notesEleve/<%=data.eleve_Id%>"> <%= data.eleve_Nom %> </a></td>
            <td><%= data.eleve_Prenom %></td>
            <td><%= data.eleve_Age %></td>
          </tr>

        <% })%>

      </tbody>

    </table>

  </div>

  <% if(cookie == "Principal"){ %>

    <div id = 'ajout'>

      <form action="/eleves/ajouterEleve" method="POST" enctype="application/x-www-form-urlencoded">

        <input type = "text" name = "classe" id = "classe" value = "<%= idClasse %>", style="margin-right: 10px;" hidden>
        
        <label for = "nom", style = "margin-right: 10px;"> Nom: </label>
        <input type = "text" name = "nom" id = "nom" value = "", style="margin-right: 10px;">

        <label for = "prenom", style = "margin-right: 10px;"> Prénom </label>
        <input type = "text" name = "prenom" id = "prenom" value = "", style="margin-right: 10px;">

        <label for = "age", style = "margin-right: 10px;"> Age: </label>
        <input type = "text" name = "age" id = "age" value = "", style="margin-right: 10px;">
        
        <div style = "text-align: center; margin-top: 20px;">

          <button type = "submit">

            <div>Envoyer</div>

          </button>

        </div>

      </form>

    </div>

  <% } %>
      
</body>
</html>