<!DOCTYPE html>
<html lang="fr">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Epoka Web</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css" />

  <style>

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }

    #ajout {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
    }

    h2{

      margin-top: 5%;
      text-align: center;
    }

  </style>

</head>

<body>

  <% if(cookie == 'Principal'){%>
    <%- include('headerPrincipal') %>
  <% }else if(cookie == 'Professeur'){ %>
      <%- include('headerProfesseur') %>
  <% }else{ %>
      <%- include('headerEleve') %>
  <% } %>

  <div>

    <table>

      <thead>

          <tr>
          <th>Note</th>
          <th>Matière</th>
          <% if(cookie == "Principal" || cookie == "Professeur"){ %>
          <th>Modification</th>
          <th>Suppression</th>
          <% } %>
          
          </tr>

      </thead>

      <tbody>

        <% dataNotes.forEach(function(data){ %>

          <tr>
            <td> <%= data.note_Valeur %> </td>
            <td> <%= data.matiere_Nom %> </td>
            
            <% if(cookie == "Principal" || cookie == "Professeur"){ %>
              <td><a href="http://localhost:3600/notes/modifierNote/<%=data.note_Id%>"> Modifier </a></td>
              <td><a href="http://localhost:3600/notes/supprimerNote/<%=data.note_Id%>"> Supprimer </a></td>
            <% } %>
          </tr>

        <% })%>

      </tbody>

    </table>

    <div id = 'ajout'>
      
      Moyenne Générale : <%= dataMoyenne[0].moyenne_generale %> 
      
    </div>

  </div>

  <% if(cookie == "Principal" || cookie == "Professeur"){ %>

    <div id = 'ajout'>

      <form action="/notes/ajouterNote" method="POST" enctype="application/x-www-form-urlencoded">
        
        <label for = "valeur", style = "margin-right: 10px;"> Valeur: </label>
        <input type = "text" name = "valeur" id = "valeur" value = "", style="margin-right: 10px;">
    
        <label for = "matiere", style="margin-right: 10px;">Matière:</label>
        <select type = "text" name = "matiere" id = "matiere" value = "", style="margin-right: 10px;">

          <% if(cookie == "Principal"){ %>

            <% dataMatieres.forEach(function(data){ %>

              <option value = "<%= data.matiere_Id %>"> <%= data.matiere_Nom %> </option>

            <% }) %>

          <% }else{ %>

            <% dataMatieres2.forEach(function(data){ %>

              <option value = "<%= data.matiere_Id %>"> <%= data.matiere_Nom %> </option>

            <% }) %>

          <% } %>
        
        </select>
        
        
        <div style = "text-align: center; margin-top: 20px;">

          <button type = "submit">

            <div>Envoyer</div>

          </button>

        </div>

      </form>

    </div>

  <% } %>

</body>
</html>