<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epoka Web</title>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <style>

      table {
        border-collapse: collapse;
        width: 100%;
      }

      th, td {
        text-align: left;
        padding: 8px;
      }

      th {
        background-color: #f2f2f2;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      tr:hover {
        background-color: #ddd;
      }

      #ajout {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
      }

    </style>

</head>

<body>

  <div class = "navbar navbar-expand-sm bg-dark navbar-dark sticky-top">

    <div class = "container-fluid">

      <ul class = "navbar-nav">

        <li class = "nav-item"><a class = "nav-link" href = "http://localhost:3600/logout"> Déconnexion </a></li>
        <li class = "nav-item"><a class = "nav-link" href = "http://localhost:3600/classes"> Classes </a></li>
        <li class = "nav-item"><a class = "nav-link active" href = "http://localhost:3600/professeurs"> Professeurs </a></li>
        <li class = "nav-item"><a class = "nav-link" href = "http://localhost:3600/matieres"> Matières </a></li>
          
      </ul>

      <a class = "navbar-brand"> Principal </a>

    </div>
    
  </div>

  <div>

    <table>

      <thead>

        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Matière</th>
          <th>Modification</th>
          <th>Suppression</th>
        </tr>

      </thead>

      <tbody>

        <% dataProfesseur.forEach(function(data){ %>

          <tr>
              
            <td><%= data.professeur_Nom %></td>
            <td><%= data.professeur_Prenom %></td>
            <td><%= data.professeur_Matiere %></td>
            <td><a href="http://localhost:3600/professeurs/modifierProfesseur/<%=data.professeur_Id%>"> Modifier </a></td>
            <td><a href="http://localhost:3600/professeurs/supprimerProfesseur/<%=data.professeur_Id%>"> Supprimer </a></td>

          </tr>

        <% })%>

      </tbody>

    </table>

  </div>

  <div>

    <form action="/professeurs/ajouterProfesseur" method="POST" enctype="application/x-www-form-urlencoded">
        
      <div id = 'ajout'>

        <label for = "nom">Nom:</label>
        <input type = "text" name = "nom" id = "nom" value = "">
    
        <label for = "prenom">Prénom:</label>
        <input type = "text" name = "prenom" id = "prenom" value = "">

        <label for = "role">Rôle:</label>
        <input type = "text" name = "role" id = "role" value = "">
      
        <label for = "matiere">Matière:</label>
        <input type = "text" name = "matiere" id = "matiere" value = "">

        <label for = "mdp">Mot de passe:</label>
        <input type = "text" name = "mdp" id = "mdp" value = "">

        <button type = "submit">

          <div>Ajouter</div>

        </button>

      </div>

    </form>

  </div>
      
</body>
</html>