<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epoka Web</title>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <style>

      table {
        border-collapse: collapse;
        width: 100%;
      }

      th, td {
        text-align: left;
        padding: 8px;
      }

      th {
        background-color: #f2f2f2;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      tr:hover {
        background-color: #ddd;
      }

      #ajout {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
      }

      h2{

        margin-top: 5%;
        text-align: center;
      }

    </style>

</head>

<body>

  <% if(cookie == 'Principal'){%>
    <%- include('headerPrincipal') %>
  <% }else{ %>
    <%- include('headerProfesseur') %>
  <% } %>

  <div>

    <table>

      <thead>

        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Matière</th>
          <th>Modification</th>
          <th>Suppression</th>
        </tr>

      </thead>

      <tbody>

        <% dataProfesseur.forEach(function(data){ %>

          <tr>
              
            <td><%= data.professeur_Nom %></td>
            <td><%= data.professeur_Prenom %></td>
            <td><%= data.professeur_Matiere %></td>
            <td><a href="http://localhost:3600/professeurs/modifierProfesseur/<%=data.professeur_Id%>"> Modifier </a></td>
            <td><a href="http://localhost:3600/professeurs/supprimerProfesseur/<%=data.professeur_Id%>"> Supprimer </a></td>

          </tr>

        <% })%>

      </tbody>

    </table>

  </div>

  <h2> Ajout d'un professeur </h2>

  <div>

    <form action="/professeurs/ajouterProfesseur" method="POST" enctype="application/x-www-form-urlencoded">
        
      <div id = 'ajout'>

        <label for = "nom", style="margin-right: 10px;">Nom:</label>
        <input type = "text" name = "nom" id = "nom" value = "", style="margin-right: 10px;">
    
        <label for = "prenom", style="margin-right: 10px;">Prénom:</label>
        <input type = "text" name = "prenom" id = "prenom" value = "", style="margin-right: 10px;">

        <label for = "role", style="margin-right: 10px;">Rôle:</label>
        <input type = "text" name = "role" id = "role" value = "", style="margin-right: 10px;">
      
        <label for = "matiere", style="margin-right: 10px;">Matière:</label>
        <select type = "text" name = "professeur" id = "professeur" value = "", style="margin-right: 10px;">

          <% dataMatiere.forEach(function(data){ %>

            <option value = "<%= data.matiere_Id %>"> <%= data.matiere_Nom %> </option>

          <% }) %>

        </select>

        <label for = "mdp", style="margin-right: 10px;">Mot de passe:</label>
        <input type = "text" name = "mdp" id = "mdp" value = "", style="margin-right: 10px;">

      </div>

      <div style = "text-align: center; margin-top: 20px;">

        <button type = "submit">

          <div>Envoyer</div>

        </button>
    
      </div>

    </form>

  </div>
      
</body>
</html>